.view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    /* border: 2px solid #000; */
    /* background-color: gray; */
}
.view-Title{
padding: 0 0 30px 0;
font-size: larger;
}

/* table */
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align:center;
    /* border-radius: 10px 10px 0 0; */
}
 
.table th, .table td{
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align:center;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}